<mat-toolbar color="primary">
  Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{user | json}}</p>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input #username="ngModel" matInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username" required>
      </mat-form-field>
      <mat-error *ngIf="username.errors?.required">Username is required</mat-error> <!--if username has error and the error type is requierd -->
      <mat-form-field>
        <input #password="ngModel" matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" required>
      </mat-form-field>
      <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
      <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me </mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="loginForm.form.invalid">Login</button>
  </mat-dialog-actions>
</form>