
  <div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
   <!-- <p>Display the details of the Dish here</p> -->
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="dish"> {{dish.name | uppercase}} </h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail',prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack();">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail',next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand] fxLayout="column">
    <mat-list fxFlex>
      <h1>Comments</h1>
      <mat-list-item *ngFor="let d of dish.comments">
        <!-- <img matListAvatar src={{d.image}} alt={{d.name}}> -->
        <p matLine>{{d.comment}}</p>
        <p matLine><span>{{d.rating}} Stars</span></p>
        <p matLine>-- {{d.author}} <span>{{d.date | date}}</span></p>
      </mat-list-item>
    </mat-list>

    <mat-list fxFlex *ngIf="addCommentForm.valid">
        <mat-list-item>
            <p matLine>{{addCommentForm.get('comment').value}}</p>
            <p matLine>{{addCommentForm.get('rating').value}} Stars</p>
             <p matLine> -- {{addCommentForm.get('author').value}}</p>
        </mat-list-item>
    </mat-list>
    <form fxFlex fxLayout="column" fxLayoutAlign.gt-md="space-center start" novalidate [formGroup]="addCommentForm" #cform="ngForm" (ngSubmit)="onSubmit();">
        <mat-form-field style="width:100%;">
            <input matInput formControlName="author" placeholder="Name" type="text" required>
        </mat-form-field>
        <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        <mat-slider style="margin:10px;" formControlName="rating" class="full-width"
            [max]="5"
            [min]="1"
            [step]="1"
            [thumbLabel]="true"
            [tickInterval]="1"  [(ngModel)]="value"
          ></mat-slider>
        <mat-error *ngIf="formErrors.rating">{{formErrors.rating}}</mat-error>
        <mat-form-field style="width:100%;">
            <textarea matInput formControlName="comment" placeholder="Your Comment" rows="12" required></textarea>
        </mat-form-field>
        <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>

      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="addCommentForm.invalid">Submit</button>
    </form>


  </div>

  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner><h4>Loading... Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>


<!--
  <div fxFlex *ngIf="selectedDish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3> {{selectedDish.name | uppercase}} </h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{selectedDish.image}} alt={{selectedDish.name}}>
        <mat-card-content>
          <p>{{selectedDish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
  </div> -->

